@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <input type="text" name="FirstName" id="FirstName">
        <input type="text" name="SecondName" id="SecondName">
        <input type="submit" value="SubmitConversation" onclick="submitConversation()">
    </div>
</div>